@charset "utf-8";
    /*
    Personal Web Page
    Author: Randy Baker
    Date: 09-01-2021
    File Name: style.css
    format h1, h3, 
    format image 
    format list 
    format footer */

    html {
        background-color: #ff3334;
    }

    /* body styles*/
        body {
            background-color: #0c96e4;
            font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        }

    /* paragraph styles */    
        p {
            font-size: 1.1em;
            text-align: center;
        }

    /* header styels */
        header{
            background-color: black;
        } 
        
        
        h1, h3 {
            text-align: center;
        }
        img {
            display:block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }
        ul,ol {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

    /* Navigation Styles */
        nav a {
            font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
            padding-top: 10px;
            padding-bottom: 10px;
        }    

        nav a:link, nav a:visited {
            color: white;
            background-color: #6b6b6b;
            text-decoration: none;
        } 
        
        nav a:hover, nav a:active {
            color: pink;
            background-color: #6b6b6b;
        }

    /* footer styles */    
        footer {
            text-align: center;
            font-style: normal;
            font-size: 0.9em;
        }